* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    color: #2F682F;
    transition: all 0.3s ease;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
input,textarea {
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    padding: 0.2em 0.5em;
    outline: none;
}
input[type=submit] {
    width: fit-content;
    padding: 0.5em 1em;
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 12px;
    margin-top: 10px;
    font-size: 16px;
    background-color: white;
    color:#2F682F;
    transition: all 0.3s ease;
    cursor: pointer;
}

.hero article:hover {
    transform: scale(1.02);
    filter: brightness(0.9);
}

::selection {
    color: white;
    background:#4fa54f;
}

a:hover {
    transform: scale(1.1);
    color: #4fa54f;
}
a.clickable:hover {
    transform: none;
}
input[type=submit]:hover {
    background-color: #2F682F;
    color: white;
    transform: scale(1.1);
}
input:focus,textarea:focus {
    border: 2px solid #2F682F;
}


nav {
    display: flex;
    background-color: #EBEDEC;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding: 10px 40px 10px 20px;
    border-bottom: rgba(0, 0, 0, 0.116) solid 2px;
    #logo {
        margin-right: auto;
        img {
            height: 3em;
            aspect-ratio: 1/1;
        }
    }
    a {
        text-decoration: none;
    }
}
main {
    display: flex;
}
footer {
    padding: 40px 0;
    background-color: #EBEDEC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: rgba(0, 0, 0, 0.116) solid 2px;
    flex: 1;
}
.feed {
    flex: 1;
    background-color: #EBEDEC;
}
article {
    padding: 40px 7% 0 7%;
    .categorias {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 15px;
        text-decoration: underline;
    }
    h1 {
        margin-bottom: 15px;
    }
    .fecha {
        margin-bottom: 15px;
        color: rgb(97, 97, 97);
    }
    img {
        width: 100%;
        max-height: 300px;
        margin-bottom: 20px;
        object-fit: cover;
    }
    #continuar {
        display: inline-block;
        margin: 10px 0 40px 0;
    }
    hr {
        color: rgba(0, 0, 0, 0.158);
    }
}
aside {
    flex: 0 0 30%;
    background-color: #EBEDEC;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-left: rgba(0, 0, 0, 0.116) solid 2px;
}
.links {
    display: flex;
    flex-direction: column;
    gap: 5px;

    a {
        display: flex;
        align-items: center;
        gap: 10px;
        width: fit-content;
    }

    img {
        height: 2em;
        aspect-ratio: 1/1;
    }
}
.articulo {
    padding-bottom: 20px;
    article {
        .categorias {
            font-size: 20px;
        }
        img {
            max-height: 400px;
        }
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 16px;
        }
    }
}
.hero {
    article {
        color: rgb(226, 226, 226);
        background-image:  
            linear-gradient(to right,
            #000000d2,
            #000000b3 30%,
            #00000000 70%),
            url("./img/luigi_.jpeg");
        background-size: cover;
        height: clamp(300px, 100vh, 650px);
        padding: clamp(40px, 10vh, 10vh) 7%;
        position: relative;
        overflow: hidden;
        transition: transform 0.5s ease, filter 0.5s ease;

        .categorias {
            font-size: 20px;
            z-index: 2;
            a {
                z-index: 3;
            }
        }
        h1,p {
            width: 50%;
        }
        h1 {
            font-size: 60px;
        }
        p {
            font-size: 20px;
        }
    }
}
.clickable {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: none;
}
.publicaciones {
    background-color: #EBEDEC;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
    
    article {
        width: clamp(300px,100%,600px);
        padding: 0;
    }
}
.sobremi {
    background-color: #EBEDEC;
    display: flex;
    padding: 40px 5vw;
    gap: 40px;
    
    #pfp {
        width: 30%;
        aspect-ratio: 2/3;
    }
    .textbox {
        h1 {
            font-size: 60px;
        }
        h3 {
            margin-bottom: 18px;
        }
        p {
            margin-bottom: 20px;
        }
        .links {
            gap: 20px;
            img {
                height: 2.5em;
            }
            flex-direction: row;
        }
    }
}
.contacto {
    background-color: #EBEDEC;
    width: 100%;
    padding: 40px 10%;

    h1 {
        font-size: 60px;
    }
    form {
        display: flex;
        flex-direction: column;
        label {
            font-size: 16px;
        }
        input[type=text],input[type=email],textarea {
            font-size: 16px;
        } 
        input[type=text],input[type=email] {
            width: 30ch;
        }
        textarea {
            width: 100ch;
            height: 10ch;
            resize: none;
        }
    }
}

@media (max-width: 768px) {
    
}